<ion-menu type="overlay" [content]="nav" *ngIf="_nav.hidden">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page.page)">
        {{ page.title }}
      </button>
      <button ion-item menuClose> Close Menu </button>
    </ion-list>
  </ion-content>
</ion-menu>
<navbar [title]="_nav.title" [color]="_nav.color" [hidden]="_nav.hidden">
  <ion-nav id="nav" #nav [root]="rootPage"></ion-nav>
</navbar>